@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  background: url(./images/background.png);
  background-position: cover;
}

.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    transform-style: preserve-3d;
    min-height: 88vh;
    width: 500px;
    border-radius: 30px;
    padding: 0 50px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(233, 140, 59, 1)
    );
    border: 8px solid #dedede;
  }

  .sneaker {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.75s ease-out;

    .circle {
      width: 200px;
      height: 200px;
      position: absolute;
      background: url(./images/pokeball.png);
      background-size: 200px;
      background-position: 50%;
      background-repeat: no-repeat;
      z-index: 1;
    }

    img {
      width: 200px;
      z-index: 2;
      transition: all 0.75s ease-out;
    }
  }

  .info {
    h1 {
      font-size: 30px;
      transition: all 0.75s ease-out;
      text-align: center;
      color: white;
      font-family: "Comic Neue", cursive;
      font-weight: bolder;
    }

    h3 {
      font-size: 16px;
      padding: 26px 0;
      color: white;
      transition: all 0.75s ease-out;
      font-family: "Comic Neue", cursive;
    }
  }

  .container-description {
    background: #e98c3b;
    border-radius: 14px;
  }

  .description {
    display: flex;
    flex-wrap: wrap;
    padding: 26px;
    transition: all 0.75s ease-out;
    font-family: "Comic Neue", cursive;

    .data {
      min-width: 33%;
      color: white;

      p {
        font-weight: 600;
      }

      &:nth-child(4),
      &:nth-child(5) {
        padding-top: 26px;
      }
    }
  }
}
